<div id="page-wrapper">
  <div id="page">

    <div id="preloader">
      <div id="status">
        <div class="parent">
          <div class="child">
            <p>loading</p>
          </div>
        </div>
      </div>
    </div>

    {{ page.main_menu }}

    {{ page.content }}

    {{ page.footer }}

  </div>
</div>
