<div id="page-wrapper">
  <div id="page">

    <div id="preloader">
      <div id="status">
        <div class="parent">
          <div class="child">
            <p>loading</p>
          </div>
        </div>
      </div>
    </div>

    {{ page.main_menu }}

    <div class="full-width">
      <div class="full-height">
        <div class="full-height-wrapper">
          <div class="parent">
            <div class="child">
              <section>
                <div class="container">
                  <div class="in-view">
                    <div class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-2 extra-padding-top">
                      <div class="" style="top: 0px; opacity: 1;">
                        {{ page.content }}
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="overlay"></div>
        </div>

      </div>
    </div>

    {{ page.footer }}

  </div>
</div>
