/**
 * @file
 * Styles for Media Library's modal windows.
 */

/* Work around dialogOptions imposed by Drupal.ckeditor.openDialog(). */
.ui-dialog--narrow.media-library-widget-modal {
  width: 75% !important;
  max-width: none;
}
