@charset "utf-8";

/*Medium devices (landscape tablets):*/
@media only screen and (max-width: 1200px) {
section, #footer {
	width: 100%;
	margin-left: 0px;
}
section {
	margin-bottom: 0px;
}
section.grey, section.same-color-as-previous-section {
	margin-top: 0px;
}
#header {
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 98;
	padding: 25px 45px;
	background: #fff;
	left: 0px;
	bottom: auto;
	top: 0;
}
.container {
	padding-right: 30px;
	padding-left: 30px;
}
h1#logo {
	width: auto;
	float: left;
}
.client {
	width: 33.3333333%;
}
nav:not(#toolbar-bar) .social-list {
	padding-bottom: 0;
}
#menu-button {
	display: block;
}
nav:not(#toolbar-bar) {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: table;
	z-index: 900;
	background: #fff;
	top: -100vh;
	left: 0;
	-webkit-transition: top 0.3s ease-in-out;
	-moz-transition: top 0.3s ease-in-out;
	-o-transition: top 0.3s ease-in-out;
	transition: top 0.3s ease-in-out;
	overflow-y: scroll;
}
.pushed-left nav:not(#toolbar-bar) {
	top: 0px;
	-webkit-transition: top 0.3s ease-in-out;
	-moz-transition: top 0.3s ease-in-out;
	-o-transition: top 0.3s ease-in-out;
	transition: top 0.3s ease-in-out;
}
#main-nav ul {
	float: none;
	padding: 32px 0 20px;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}
#main-nav ul li ul {
	display: block;
}
#social-header {
	top: 140px;
	right: auto;
	width: 100%;
}
#social-header.centered .social-list li {
	display: inline-block;
	padding: 5px 5px;
}
#social-header i.fa {
	opacity: 1;
}
section.first {
	margin-top: 0px;
}
.turn-grey {
	background: #f5f5f5;
}
	.intro .child { vertical-align: bottom; text-align: center;}
	#bonappetit { display: none; }
	.watercolor69 { left: auto; right: -10px; top: -140px; z-index: 1000; }
}

/*Small devices (portrait tablets):*/
@media only screen and (max-width: 668px) {
.client {
	width: 50%;
}
h1, h2 {
	font-size: 36px;
	line-height: 1.3;
	letter-spacing: -1px;
}
.full-height {
	height: 550px !important;
}
.bx-container {
	top: 50px;
}
.containing-image-wrapper {
	display: none;
}
}

/*Extra small devices (phones):*/
@media only screen and (max-width: 480px) {
#header {
	padding: 15px 30px;
}
#social-header {
	top: 110px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
}
section {
	padding: 65px 0 80px;
}
.centered-xs {
	text-align: center;
}
.centered-xs .alignright, .centered-xs .alignleft {
	float: none;
}
.show-xs {
	display: block !important;
}
.extra-padding-right {
	padding-right: 15px;
}
.extra-padding-top-xs {
	padding-top: 5px;
}
h3.panel-title {
	padding: 25px 0px !important;
}
.panel-heading::after, .panel-heading::before {
	right: 0;
}
.panel-body {
	padding: 5px 0px 20px !important
}
.nav-tabs > li > a {
	margin: 0 10px;
}
.more-margin {
	margin-top: 10px;
}
.intro .extra-padding-top {
	padding-top: 0;
}
.bordered.more-padding {
	padding: 15px 30px 20px;
}
.panel-heading::before {
	top: 30px;
}
.panel-heading.active::before {
	top: 28px;
}
.comment + .comment {
	padding-left: 0px;
}
.commenter-avatar {
	float: none;
}
.commenter-avatar > img {
	width: 100px;
	height: 100px;
}
.comment-content {
	float: none;
	width: 100%;
}
.intro .button {
	margin-bottom: 0;
}
}
