 @charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------------
[Table of contents]
0. Fonts
1. Clearfix
2. Preloader
3. Typography
4. Headings
5. Navigation
6. Main Content
7. Content Elements
8. Icons
9. Images & Hover Animation
10. Footer
11. Lists
12. Slideshow
13. Banner Text and Block Fadein
14. Blog
-------------------------------------------------------------------*/



/* =1. Clearfix
--------------------------------------------------------------------------------------------------------*/
.clear {
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}/* ----- clear fix for floats ----- */
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}/* hides clearfix from IE-mac */
.clearfix {
	display: block;
}/* end hide from IE-mac */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: inline-block;
}
.aligncenter .padding {
	display: block;
	padding: 0 12px;
}
.alignnone {
	clear: both;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	height: 0;
	width: 0;
}
.centered {
	text-align: center;
}
.hidden {
	display: none;
	visibility: hidden;
}
/* Preventing font-rendering switches during CSS transitions inside Flexslider for Safari and Chrome under MacOSX */
*, *:before, *:after {
	-webkit-font-smoothing: antialiased;
}
.flexslider {
	-webkit-transform: translateZ(0px);
}
/* End Clearfix
--------------------------------------------------------------------------------------------------------*/



/* =2. Preloader
--------------------------------------------------------------------------------------------------------*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 9999999;
}
#status {
	z-index: 28;
	position: absolute;
	color: #555 !important;
	top: 50%;
	height: 220px;
	width: 100%;
	margin-top: -115px;
}
/* horizontal centering */
.parent {
	width: 100%;
	margin: 0px auto;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 30px 0px;
	z-index: 11
}
#preloader .child {
	text-align: center;
}
/* vertical centering */
.parent {
	display: table
}
.child {
	display: table-cell;
	vertical-align: middle;
	padding: 0;
}
.parent .bottom {
	display: table-cell;
	vertical-align: bottom;
	padding: 0;
}
.image-with-overlay .parent .bottom {
	padding-bottom: 0px;
}
.parent .top {
	display: table-cell;
	vertical-align: top;
	padding: 0;
}
.box-parent .child {
	padding-top: 10px;
}
/* End Preloader
--------------------------------------------------------------------------------------------------------*/



/* =3. Typography
--------------------------------------------------------------------------------------------------------*/
body {
	font-size: 16px;
	font-family: "Lato", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #666;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	line-height: 1.6;
}
a, a * {
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
a, a:focus {
	color: #72a4d9;
}
a:hover {
	color: #2b2b2b;
	text-decoration: none;
	outline: 0;
}
a:focus {
	text-decoration: none;
	outline: 0;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
	outline: 0;
}
*:focus, *:after:focus, *:before:focus {
outline: 0;
}
strong {
	font-weight: 600;
}
p {
	padding: 0;
	margin: 0 0 10px;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	position: relative;
	line-height: 1.6;
}
a {
	text-decoration: none;
}
p a {
	color: #2b2b2b;
	text-decoration: none;
	border-bottom: 2px solid rgba(0,0,0,0.15);
	opacity: 0.7;
	top: 0;
}
.white-text p a, .intro p a {
	color: #fff;
	opacity: 0.7;
}
p a:hover {
	color: #2b2b2b;
	text-decoration: none;
	border-bottom: 2px solid;
	opacity: 1;
	top: 1px;
}
p a:focus {
	text-decoration: none;
}
.white-text p a:hover, .intro p a:hover {
	color: #fff;
	opacity: 1;
}
a p {
	color: #555;
}
p.small, p .small {
	font-size: 85% !important;
	opacity: 0.7;
	font-style: italic;
	padding-top: 8px;
}
p.small.with-borderline {
	background: #e9e9e9;
	z-index: 2;
	position: relative;
	padding-right: 10px;
	display: inline-block;
}
p.small.below-text {
	top: -7px;
}
#preloader p.small {
	color: #555 !important;
	padding: 0 !important
}
.child p.small {
	padding-top: 10px;
}
p.small.below-header {
	padding-top: 4px;
	margin-bottom: 12px;
}
p.large {
	font-size: 115%;
}
p.details {
	opacity: 0.7;
	font-size: 85%;
	margin-bottom: 10px;
	margin-top: 8px;
}
.intro p {
	padding-top: 20px;
}
.white-text p {
	color: #fff;
}
.white-text p.small {
	opacity: 0.8;
}
.info-box-content p.large, .header-wrapper p.large {
	max-width: 474px;
	margin-left: auto;
	margin-right: auto;
}
.white-text p.below-button {
	color: #fff;
	opacity: 0.7;
}
.white-text a:hover p.below-button {
	color: #fff;
	opacity: 1;
}
blockquote {
	border: 0;
	position: relative;
	margin: 58px 0px 7px;
	font-size: 140%;
	color: #555;
	padding: 0;
	line-height: 1.5;
	font-style: italic;
}
article blockquote {
	margin: 70px 30px 30px;
}
.panel-body blockquote {
	margin: 80px 35px 30px;
}
blockquote::before {
	content: "“" !important;
	position: absolute;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 46px;
	left: 0;
	top: -55px;
	font-weight: 600;
	width: 50px;
	margin-left: -1px;
	color: #555;
	letter-spacing: 0.1em;
	font-style: normal;
}
blockquote footer {
	font-style: normal;
	color: #888;
	letter-spacing: 0;
	font-weight: 400;
	font-size: 14px;
	position: absolute;
	left: 50px;
	top: -41px;
}
.lefted {
	text-align: left !important;
}
.button {
	border: 2px solid rgba(0,0,0,0.15);
	padding: 12px 30px 13px;
	line-height: 1;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 11px !important;
	font-weight: 600;
	text-transform: uppercase;
	color: #2b2b2b;
	top: 0;
	position: relative;
	border-radius: 30px;
	letter-spacing: 1px;
	background: none;
}
.white-text .button {
	border: 2px solid rgba(255,255,255,0.5);
	color: #fff;
	background: none;
}
.button:hover {
	color: #2b2b2b;
	border: 2px solid #2b2b2b;
}
.white-text .button:hover {
	border: 2px solid rgba(255,255,255,15);
	background: none;
	color: #fff;
}
.button.with-icon-holder {
	padding-left: 65px;
}
.button .icon-holder {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,0.1);
	width: 40px;
	text-align: center;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.button .icon-holder i.fa {
	color: #fff;
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 40px;
	position: relative;
	top: -2px;
}
.button i.fa {
	position: relative;
	top: 0px;
	font-size: 13px;
}
.centered .button {
	margin-left: 5px;
	margin-right: 5px;
}
.client {
	border: 0;
	width: 16.666%;
	padding: 0 10px;
	float: left;
	position: relative;
	opacity: 0.5;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.client:hover, .client.no-link {
	opacity: 0.9;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	cursor: default
}
.tag {
	background: #252525;
	border-radius: 3px;
	padding: 5px 10px 6px;
	opacity: 1 !important;
	color: #fff !important;
	display: inline-block;
	position: absolute;
	top: -10px;
	right: -10px
}
.tag.leftside {
	right: auto;
	left: -10px;
}
.superscript {
	vertical-align: super;
	font-size: 75%;
}
.tripadvisor {
	background: url(../images/tripadvisor.png) no-repeat center;
	height: 200px;
	width: 200px;
	background-size: 200px 200px;
	display: inline-block;
}
#bonappetit {
	background: url(../images/bonappetit.png) no-repeat center;
	height: 40px;
	width: 160px;
	background-size: 160px 40px;
	display: inline-block;
	transform: rotate(-90deg);
	position: absolute;
	bottom: 160px;
	right: -25px;
}
/* End Typography
--------------------------------------------------------------------------------------------------------*/



/* =4. Headings
--------------------------------------------------------------------------------------------------------*/
h1#logo {
	position: relative;
	height: 60px;
	width: 100%;
	padding: 0 !important;
	margin: 0;
	display: block;
	z-index: 1000;
	text-align: center;
}
h1#logo a {
	background: url(../images/logo.png) center no-repeat;
	background-size: 102px 60px;
	width: 102px;
	height: 60px;
	text-indent: -9999px;
	display: inline-block;
}
.numbers, h1, h2, h3, h4, h5, h6 {
	line-height: 1.35;
	color: #2b2b2b;
	position: relative;
	font-weight: 400;
	z-index: 1
}
.white-text h1, .white-text h2, .white-text h3, .white-text h4, .white-text h5, .white-text h6 {
	color: #fff;
}
.intro h1, .intro h2 {
	display: inline-block;
	margin-bottom: 20px !important;
}
.child h1 {
	margin-bottom: 0;
}
.intro a h1 {
	position: relative;
}
.intro a h1::before {
	background: rgba(255,255,255,0.3);
	content: "";
	bottom: -1px;
	display: block;
	left: 0%;
	height: 2px;
	position: absolute;
	width: 100%;
}
.intro a h1::after {
	content: "";
	background: #fff;
	bottom: -1px;
	display: block;
	left: 0%;
	height: 2px;
	position: absolute;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	width: 0;
}
.intro a:hover h1::after {
	left: 0;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Vollkorn", Georgia, Verdana, sans-serif;
}
h1 {
	font-size: 62px;
	line-height: 1.2;
	letter-spacing: -2px;
}
h2 {
	font-size: 40px;
	line-height: 1.3;
	letter-spacing: -1.5px;
}
h3 {
	font-size: 28px;
	letter-spacing: -0.75px;
}
h4 {
	font-size: 21px;
	letter-spacing: -0.5px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
.below-icon {
	margin-top: 0px;
	margin-bottom: 0px;
}
.header {
	margin-top: 0px;
}
.header.with-details-above {
	margin-top: -3px;
}
.p-small-below {
	margin-bottom: 5px;
}
.lone-header {
	padding-bottom: 15px;
}
.more-margin {
	margin-top: 30px;
}
.no-margin-nor-padding {
	padding: 0;
	margin: 0;
}
.above-button {
	margin-bottom: 5px;
}
/* End Headings
--------------------------------------------------------------------------------------------------------*/



/* =5. Navigation
--------------------------------------------------------------------------------------------------------*/
#menu-button {
	font-size: 14px;
	height: 58px;
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 1111;
	opacity: 1 !important;
	display: none;
	width: 19px;
	text-align: center;
	float: right;
}
#menu-button .centralizer {
	display: table-cell;
	vertical-align: middle;
}
#menu-button .centralizer .cursor {
	display: inline-block;
	cursor: pointer;
	height: 58px;
	width: 19px;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
#nav-button {
	display: inline-block;
	width: 19px;
	height: 56px;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding-top: 23px;
	text-align: center;
}
.nav-bar {
	background-color: #fff;
	border-radius: 1px;
	display: block;
	width: 19px;
	height: 2px;
	margin: 0px auto 3px;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.pushed-left #nav-button span {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #2b2b2b;
}
.pushed-left #nav-button span:nth-child(1), .pushed-left-alt #nav-button span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	top: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.pushed-left #nav-button span:nth-child(2), .pushed-left-alt #nav-button span:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: relative;
	top: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 19px !important;
	margin: 0px auto 3px;
}
.pushed-left #nav-button span:nth-child(3), .pushed-left-alt #nav-button span:nth-child(3) {
	display: none;
}
#nav-button span {
	background: #2b2b2b;
}
#main-nav ul {
	position: relative;
	margin-top: 15px;
	padding-top: 18px;
	border-top: 1px solid rgba(0,0,0,0.06);
}
#main-nav ul li {
	position: relative;
}
#main-nav ul li a {
	position: relative;
	color: #959595;
	padding: 8px 0 8px 0px;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: center;
	top: 0;
}
#main-nav ul li.active a, #main-nav ul li a:hover {
	color: #2b2b2b;
}
#main-nav ul li ul {
	float: none;
	border: 0;
	margin: 0;
	padding: 0;
	padding-bottom: 8px;
}
#main-nav ul li ul li {
	float: none;
	position: relative;
	white-space: nowrap;
}
#main-nav ul li ul li:last-child a {
	padding-bottom: 0px
}
/* End Navigation
--------------------------------------------------------------------------------------------------------*/



/* =6. Main Content
--------------------------------------------------------------------------------------------------------*/
#header {
	position: fixed;
	width: 280px;
	height: auto;
	z-index: 98;
	padding: 50px 50px;
	background: #fff;
	left: 0px;
	bottom: 0;
}
#content {
	width: 100%;
	position: relative;
	z-index: 55;
	height: auto;
}
section {
	padding: 85px 0 100px;
	background: #fff;
	width: calc(100% - 330px);
	margin-left: 330px;
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
	overflow: hidden;
}
section.first, section.grey, section.same-color-as-previous-section {
	margin-top: -50px;
}
section.grey {
	background: #f5f5f5;
}
section.no-bg, .intro section {
	background: none;
}
.intro section {
	margin-bottom: 0;
}
section.same-color-as-previous-section {
	padding-top: 0;
}
.container {
	position: relative;
	width: 100%;
}
.full-width {
	width: 100%;
}
.full-height-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.containing-image-wrapper {
	height: calc(100% - 14px);
	position: absolute;
	right: 0;
	top: 0;
}
.no-padding {
	padding: 0 !important;
}
.auto {
	height: auto !important;
	min-height: 280px;
}
.ancor {
	position: absolute;
	top: -135px;
}
.lighter {
	opacity: 0.25;
	padding: 0 2px;
}
/* =End Main Content
--------------------------------------------------------------------------------------------------------*/



/* =7. Content Elements
--------------------------------------------------------------------------------------------------------*/
.overflow {
	overflow: hidden;
	-webkit-transition: none;
	transition: none;
}
.white-text {
	-webkit-text-shadow: 0px 0 35px rgba(0, 0, 0, 0.95);
	text-shadow: 0px 0 35px rgba(0, 0, 0, 0.95);
	position: relative;
}
.extra-padding-top {
	padding-top: 10px;
}
.extra-padding-right {
	padding-right: 45px;
}
.extra-padding-bottom {
	padding-bottom: 45px
}
.image-padding {
	padding-bottom: 10px;
	padding-top: 10px;
}
.break {
	display: block;
	position: relative;
	height: 20px;
	width: 100%;
}
.big-break {
	display: block;
	position: relative;
	height: 40px;
	width: 100%;
}
.borderline {
	border-bottom: 1px solid rgba(0,0,0,0.06);
	height: 1px;
	position: relative;
	width: 100%;
	margin: 35px 0;
	display: block;
	float: none;
}
.borderline.blog {
	margin-top: 43px;
	margin-bottom: 20px;
}
.show-xs {
	display: none !important;
}
.bordered {
	border: 1px solid rgba(0,0,0,0.06);
	margin: 34px 0 32px;
	font-size: 85%;
	padding: 10px 30px;
	position: relative;
}
.greyed {
	margin: 34px 0 32px;
	font-size: 85%;
	padding: 10px 30px;
	background: #f5f5f5;
}
.details-wrapper {
	float: left;
	margin-right: 20px;
	padding-top: 22px;
}
.borderline.last-in-section {
	margin-bottom: 0;
}
.borderline.first-in-section {
	margin-top: 0;
}
#project-pagination a {
	opacity: 0.65;
	display: inline-block;
}
#project-pagination a:hover {
	opacity: 1;
}
.prev-project {
	background: url(../images/arrow4.png) no-repeat left 2px;
	background-size: 30px 20px;
	padding-left: 35px;
}
.next-project {
	background: url(../images/arrow2.png) no-repeat right 2px;
	background-size: 30px 20px;
	padding-right: 35px;
	text-align: right;
}
.full-height {
	height: 100vh!important;
	margin: 0 !important;
	padding: 0 !important;
}
.nav-tabs {
	margin-bottom: 30px;
	padding: 0px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}
.nav-tabs > li {
	float: none;
}
.nav > li {
	display: inline-block;
}
.nav-tabs > li > a {
	border-radius: 0;
	color: #959595;
	background: #fff;
	border: 0;
	min-width: 36px;
	width: auto;
	height: 52px;
	padding: 8px 0 0 0;
	margin: 0 25px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}
.nav-tabs > li > a:hover {
	background: #fff;
	color: #2b2b2b;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.06);
	opacity: 1
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #2b2b2b;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.06);
	opacity: 1
}
.table {
	margin-bottom: 10px;
}
table h5 {
	margin: 0;
	display: block;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 25px 0px 0;
	text-align: left;
	vertical-align: middle;
	border: 0 !important
}
.table th {
	width: 50%;
	padding-top: 10px !important;
}
.table td:nth-child(2n-1) {
	padding-right: 0;
}
.table td:nth-child(2n) {
	padding-left: 0;
	padding-right: 50px;
}
.table tr:nth-child(1) td {
	padding-top: 40px;
}
.table tr i.fa-check-square-o {
	padding-left: 0px;
	padding-right: 8px;
	top: 1px;
	position: relative
}
.price {
	font-size: 500%;
	line-height: 1;
	float: left;
	padding: 20px 18px 20px 0;
	letter-spacing: -3px;
}
.table p.details {
	padding-top: 28px;
	padding-right: 25%;
}
h3.panel-title {
	font-size: 36px;
	line-height: 1.3;
	letter-spacing: -1px;
	padding: 25px 75px 29px 0px !important;
}
h4.panel-title {
	font-size: 18px;
	padding: 25px 75px 29px 0px !important;
}
.panel-group {
	border-bottom: 1px solid rgba(0,0,0,0.06);
	border-radius: 0 !important;
	margin-bottom: 0;
	margin: 15px 0;
}
.panel-group a, .panel-group a:hover {
	color: #2b2b2b;
}
.panel-group .panel {
	border: 0;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid rgba(0,0,0,0.06);
	border-radius: 0 !important;
}
.panel-heading {
	color: #2b2b2b;
	background: none !important;
	padding: 0px !important;
	position: relative;
}
.panel-heading::before {
	position: absolute;
	top: 38px;
	right: 35px;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	font-size: 24px;
	line-height: 1;
	color: #2b2b2b;
	content: "\f107";
	font-family: FontAwesome;
}
.panel-heading.active::before {
	content: "\f106";
}
.panel-body {
	border: 0 !important;
	padding: 0px 35px 20px !important;
}
.panel-group .panel + .panel {
	margin-top: 0;
}
.panel-group#tabs, .panel-group#tabs .panel {
	border: none !important;
}
#tabs .panel-heading::before {
	display: none;
}
.menu-item-wrapper {
	position: relative;
	display: block;
}
.rounded-icon {
	border-radius: 51%;
	height: 37px;
	width: 37px;
	text-align: center;
	padding-top: 6px;
	display: inline-block;
	margin-bottom: 5px;
	background: #f5f5f5;
	border: 0px solid rgba(0,0,0,0.1)
}
.rounded-icon i.fa-warning {
	position: relative;
	top: -1px;
}
.rounded-icon i.fa {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 13px;
}
.rounded-icon-wrapper {
	display: inline-block;
	padding: 18px 12px 7px;
}
.menu-item-wrapper h4 {
	position: relative;
	display: inline-block;
	max-width: calc(100% - 40px);
}
.menu-item-wrapper .bg i {
	opacity: 0.7;
	padding-left: 3px;
	font-size: 85%;
	position: relative;
}
.menu-item-wrapper .bg {
	/*background: #f5f5f5;*/
	border-radius: 2px;
	padding: 0px 6px 3px 3px;
	margin-left: 3px;
	position: absolute;
	right: 0;
	top: 11px;
}
.menu-item-wrapper h4 i {
	font-size: 75%;
	position: relative;
	top: -6px;
	margin-left: 7px;
}
.watercolor {
	position: relative;
}
.watercolor9::before {
	background: url(../images/watercolor9.png) no-repeat center;
	background-size: 150px 144.5px;
	width: 150px;
	height: 144.5px;
	position: absolute;
	content: "";
	z-index: -1;
	left: -30px;
	top: -60px;
	opacity: 0.7
}
.watercolor25::before {
	background: url(../images/watercolor25.png) no-repeat center;
	background-size: 150px 133px;
	width: 150px;
	height: 133px;
	position: absolute;
	content: "";
	z-index: -1;
	left: 0;
	top: -30px;
	opacity: 0.7
}
.watercolor28::before {
	background: url(../images/watercolor28.png) no-repeat center;
	background-size: 150px 101.5px;
	width: 150px;
	height: 101.5px;
	position: absolute;
	content: "";
	z-index: -1;
	left: 0;
	top: -20px;
	opacity: 0.7
}
.watercolor29 {
	background: url(../images/watercolor29.png) no-repeat center;
	background-size: 150px 105px;
	width: 150px;
	height: 105px;
	position: absolute;
	content: "";
	z-index: -1;
	right: -50px;
	top: -50px;
	opacity: 1
}
.watercolor44::before {
	background: url(../images/watercolor44.png) no-repeat center;
	background-size: 150px 47.5px;
	width: 150px;
	height: 47.5px;
	position: absolute;
	content: "";
	z-index: -1;
	left: 0;
	top: 10px;
	opacity: 0.7
}
.watercolor62::before {
	background: url(../images/watercolor62.png) no-repeat center;
	background-size: 150px 47.5px;
	width: 150px;
	height: 47.5px;
	position: absolute;
	content: "";
	z-index: -1;
	left: 0px;
	top: 13px;
	opacity: 0.7
}
.watercolor62.version2::before {
	top: 8px;
}
.watercolor63 {
	background: url(../images/watercolor63.png) no-repeat center;
	background-size: 150px 87px;
	width: 150px;
	height: 87px;
	position: absolute;
	content: "";
	z-index: -1;
	right: -50px;
	top: 20px;
	opacity: 1
}
.watercolor69 {
	background: url(../images/watercolor69.jpg) no-repeat center;
	background-size: 250px 222px;
	width: 250px;
	height: 222px;
	position: absolute;
	content: "";
	z-index: -1;
	left: -100px;
	top: 20px;
	opacity: 1
}
.watercolor70 {
	background: url(../images/watercolor70.png) no-repeat center;
	background-size: 150px 188px;
	width: 150px;
	height: 188px;
	position: absolute;
	content: "";
	z-index: -1;
	right: -10px;
	top: 30px;
	opacity: 1
}
.watercolor72::before {
	background: url(../images/watercolor72.jpg) no-repeat center;
	background-size: 150px 104px;
	width: 150px;
	height: 104px;
	position: absolute;
	content: "";
	z-index: -1;
	left: 0;
	top: -30px;
	opacity: 0.7
}
/* =End Content Elements
--------------------------------------------------------------------------------------------------------*/




/* =8. Intro Backgrounds
--------------------------------------------------------------------------------------------------------*/
.background-image1 {
	background: url(../images/fullscreen07.jpg) no-repeat center;
	height: 100%;
	display: block;
	width: 100%;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
}
.background-image2 {
	background: url(../images/food-10.jpg) no-repeat center;
	height: 100%;
	display: block;
	width: 100%;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
}
.background-image3 {
	background: url(../images/food-1.jpg) no-repeat center;
	height: 100%;
	display: block;
	width: 100%;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
}
.banner-textblock {
	position: relative;
}
.parallax {
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: center center;
	transform: translate3d(0px, 0px, 0px);
	transform-style: preserve-3d;
	position: absolute !important;
	left: 0;
	top: 0;
}

@media only screen and (min-width : 300px) and (max-width : 1024px) {
.parallax {
	background-attachment: initial;
}
}
.fixed {
	position: fixed;
	height: 100vh;
	width: 100%;
	backface-visibility: hidden;
	top: 0;
	z-index: -1;
}
.touch .fixed {
	position: absolute;
}
/* =End Intro Backgrounds
--------------------------------------------------------------------------------------------------------*/




/* =8. Icons
--------------------------------------------------------------------------------------------------------*/
.social-list {
	padding-bottom: 15px;
	padding-top: 10px;
	margin: 0;
	font-size: 0;
}
.social-list li {
	display: inline-block;
	padding: 0 8px 0 0;
	position: relative;
}
.centered .social-list li {
	padding: 5px 0px;
	text-align: center;
	display: block;
}
.social-list li a i {
	color: #888;
	font-size: 17px;
}
.social-list li a:hover i {
	color: #2b2b2b;
}
.social-list.aligncenter {
	padding: 0 !important;
	margin: 0 !important;
	position: relative;
	top: 18px;
	margin-left: 10px !important;
}
.social-list.alignright li {
	padding: 0 0 0 10px
}
.social-icon {
	font-size: 44px;
	line-height: 1.2;
}
i.fa {
	margin-right: 3px;
	color: #2b2b2b;
}
.centered i.fa {
	margin: 0;
}
p i.fa {
	color: #888;
}
.button i.fa {
	color: #2b2b2b;
	padding-right: 3px;
}
.white-text i.fa {
	color: #fff !important;
}
#social-header {
	position: absolute;
	top: 35px;
	right: 50px;
	z-index: 12;
}
#social-header i.fa {
	color: #fff;
	font-size: 14px;
}
#social-header a:hover i.fa {
	color: #fff;
	opacity: 1;
}
#social-header a {
	border-radius: 51%;
	height: 35px;
	width: 35px;
	border: 2px solid rgba(255,255,255,0.5);
	display: inline-block;
	padding-top: 8px;
}
#social-header a:hover {
	border: 2px solid rgba(255,255,255,1);
}
.fa-envelope {
	font-size: 15px !important;
	position: relative;
	top: -1px;
}
.fa-external-link, .fa-file-pdf-o {
	padding-left: 5px;
	position: relative;
	top: 1px;
}
/* End Icons
--------------------------------------------------------------------------------------------------------*/



/* =9. Images & Hover Animation
--------------------------------------------------------------------------------------------------------*/
.images {
	display: block;
	position: relative;
	margin: 38px 0;
}
.images.above-borderline {
	margin-bottom: 15px;
}
.images.teaser {
	margin-bottom: 15px;
	margin-top: 15px;
}
article .images {
	margin-top: 34px;
	margin-bottom: 42px;
}
img {
	display: block;
	max-width: 100%;
}
.full-height figure img {
  height: 100vh;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin: 40px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.musicWrapper {
	position: relative;
	height: auto;
	margin-bottom: -6px;
	padding: 20px 0;
}
.musicWrapper iframe {
	width: 100%;
	height: auto;
}
.imageWrapper {
	position: relative;
	margin: 40px 0 45px;
}
.overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.0);
	width: 100%;
	height: 100%;
}
a:hover .overlay, .intro .overlay, .image-with-overlay .overlay {
	background-color: rgba(0, 0, 0, 0.35);
}
.intro .overlay {
	position: fixed;
	height: 150vh;
}
.info-box-content {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.image-with-overlay {
	position: relative;
	margin-bottom: 20px;
}
.image-with-overlay .parent {
	padding-left: 35px;
	padding-right: 35px;
}
.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 280px;
	-webkit-transition: left ease-in-out 0.33s;
	transition: left ease-in-out 0.33s;
}
.image-overlay.pushed-right {
	left: 100%;
}
.image-overlay.text-instead {
	background: #fff;
	border: 1px solid #dedede;
	height: 280px;
	padding: 30px 35px 20px 35px;
}
.avatar {
	display: inline-block;
	position: absolute;
	right: 35px;
	bottom: 33px;
}
.avatar img {
	width: 80px;
	height: 80px;
	border-radius: 51%;
	z-index: 2;
	position: relative;
}
img.round-top {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
/* End Images & Hover Animation
--------------------------------------------------------------------------------------------------------*/



/* =10. Footer
--------------------------------------------------------------------------------------------------------*/
#footer {
	background: #252525;
	min-height: 91px;
	margin: 0px;
	width: calc(100% - 330px);
	margin-left: 330px;
	position: relative;
	z-index: 55;
}
#footer .padding-wrapper {
	padding: 31px 0px 29px;
}
footer p {
	color: rgba(255, 255, 255, 0.6) !important;
	padding: 0;
	border: 0;
	text-decoration: none
}
footer a {
	color: rgba(255, 255, 255, 0.6) !important;
	opacity: 1;
	border-bottom: 0;
}
footer a:hover {
	color: rgba(255, 255, 255, 1) !important;
	border-bottom: 0;
}
footer a.button {
	color: #fff !important
}
span.padding {
	padding: 0 3px;
}
footer .social-list {
	margin-left: 20px;
	padding: 0;
	padding-top: 2px;
}
footer i.fa-heart {
	color: #589642;
}
footer i.fa-phone {
	position: relative;
	top: 1px;
	opacity: 0.7;
}
footer i.fa-envelope {
	font-size: 80% !important;
	opacity: 0.7;
}
footer i.fa-fax {
	font-size: 85% !important;
	opacity: 0.7;
}
#footer .padding-wrapper.upper-part {
	padding: 81px 0px 69px;
}
#footer .padding-wrapper.upper-part p.small {
	color: #fff;
	padding: 0;
	padding-bottom: 10px;
	opacity: 1;
}
#footer .lower-part {
	background: rgba(0,0,0,0.15);
}
#footer .lower-part p {
	font-size: 85%;
}
footer h4, footer h3 {
	color: #fff;
	margin-top: -4px;
	margin-bottom: 18px;
	position: relative;
}
footer ul.unordered-list {
	padding: 0px 0 0 30px;
	list-style: disc;
}
footer ul.unordered-list li a {
	text-decoration: none !important;
}
footer ul.unordered-list li {
	padding-bottom: 8px;
}
/* End Footer
--------------------------------------------------------------------------------------------------------*/



/* =11. Lists
--------------------------------------------------------------------------------------------------------*/
ul.unordered-list, .hentry ul, ol {
	list-style: disc;
	padding: 15px 0px 10px 25px;
	margin-bottom: 10px;
}
.headline-above {
	padding-top: 0px !important;
}
ol {
	list-style: decimal;
}
ul.unordered-list li, ol li {
	padding-bottom: 10px;
	position: relative;
}
ul.unordered-list li:last-child, ol li:last-child {
	padding-bottom: 0px;
}
ul.unordered-list li a, .hentry ul li a, ol li a {
	color: #555;
	text-decoration: underline;
}
ul.unordered-list li a:hover, .hentry ul li a:hover, ol li a:hover {
	color: #2b2b2b;
	text-decoration: underline;
}
.white-text ul, .white-text ol {
	color: #fff;
}
ul.pagination {
	margin-bottom: 0px;
	border-radius: 0;
	margin-top: 10px;
	display: inline-block;
	font-size: 0;
}
ul.pagination li a {
	margin: 0 3px;
	color: #fff;
	opacity: 0.7;
	background: none;
	border: 1px solid;
	border-radius: 0 !important;
	font-size: 15px;
}
ul.pagination li a:hover {
	color: #fff;
	opacity: 1;
	background: none;
}
ul.pagination li a.active {
	border: 1px solid;
	color: #fff;
	opacity: 1;
}
ul.pagination li a.active:hover {
	background: none !important;
	cursor: default;
}
/* =End Lists
--------------------------------------------------------------------------------------------------------*/



/* =12. Slideshow
--------------------------------------------------------------------------------------------------------*/
.bx-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden
}
.bx-container img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 101;
	display: none;
	max-width: none;
}
.bx-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
/* End Slideshow
--------------------------------------------------------------------------------------------------------*/


/* =13. Banner Text and Block Fadein
--------------------------------------------------------------------------------------------------------*/
.banner-textblock {
	position: relative;
}
.animatedblock {
	opacity: 0;
	-webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
	-moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
	transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
.touch .animatedblock {
	opacity: 0;
	-webkit-transform: translateY(0) !important;
	-moz-transform: translateY(0) !important;
	transform: translateY(0) !important;
}
.animatedLeft {
	-webkit-transform: translateX(-40px);
	-moz-transform: translateX(-40px);
	transform: translateX(-40px);
}
.animatedRight {
	-webkit-transform: translateX(40px);
	-moz-transform: translateX(40px);
	transform: translateX(40px);
}
.animatedUp {
	-webkit-transform: translateY(40px);
	-moz-transform: translateY(40px);
	transform: translateY(40px);
}
.animatedLeft.in-view, .animatedRight.in-view {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}
.animatedUp.in-view {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
.delay2 {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.delay4 {
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.delay6 {
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.delay8 {
	-webkit-transition-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	transition-delay: 0.8s;
}
.delay10 {
	-webkit-transition-delay: 1.0s;
	-moz-transition-delay: 1.0s;
	transition-delay: 1.0s;
}
/* End Banner Text and Block Fadein
--------------------------------------------------------------------------------------------------------*/




/* =14. Blog
--------------------------------------------------------------------------------------------------------*/
.avatar {
	margin: 10px 0 20px;
}
.avatar img {
	width: 150px;
	height: 150px;
	border-radius: 51%;
}
.left-to-avatar {
	text-align: left !important;
	padding-left: 180px;
}
.comment {
	padding: 35px 0px 34px;
	border-top: 1px solid rgba(0,0,0,0.06);
	position: relative;
	text-align: left
}
ul.comments {
	padding-top: 27px;
}
.comment.last {
	padding-bottom: 0;
}
.comment + .comment {
	padding-left: 95px;
}
.comment.reply.level-1 {
	padding-left: 6.6%;
}
.commenter-avatar {
	float: left;
	padding: 14px 30px 30px 0;
	width: auto;
}
.commenter-avatar > img {
	width: 65px;
	height: 65px;
	border-radius: 51%;
}
.comment-content {
	float: left;
	width: calc(100% - 95px);
}
/* End Blog
--------------------------------------------------------------------------------------------------------*/
