.node--type-landing-page div.first-top-overlay {
  z-index: -1; }

.node--type-landing-page:last-child div:first-child section.paragraph {
  margin-top: -50px; }
  @media only screen and (max-width: 1200px) {
    .node--type-landing-page:last-child div:first-child section.paragraph {
      margin-top: 0; } }

.node--type-article > section {
  margin-top: -50px; }
  @media only screen and (max-width: 1200px) {
    .node--type-article > section {
      margin-top: 0; } }

body {
  height: auto !important;
  overflow-x: hidden; }

@media screen and (max-width: 768px) {
  section.paragraph {
    padding: 0; } }

section.paragraph h2.paragraph-title {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.4rem; }
  section.paragraph h2.paragraph-title .bg-red-line {
    position: absolute;
    left: -25px;
    bottom: 6.9px;
    width: 100%;
    width: -webkit-calc(100% + 38px);
    width: -moz-calc(100% + 38px);
    width: calc(100% + 38px);
    height: 1.4rem;
    background-color: #f1b7b2;
    z-index: -1; }

section.paragraph figure.images {
  z-index: 1; }

#video {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100vh;
  transform: translate(-50%, 0); }
  #video.proportion {
    top: 50%;
    left: 0;
    width: 100vw;
    height: auto;
    transform: translate(0, -50%); }

.background-image {
  height: 100%;
  display: block;
  width: 100%;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0; }

.image-text-split .left-image-position {
  left: 0; }

@media only screen and (max-width: 768px) {
  .image-text-split .containing-image-wrapper {
    display: block !important;
    position: relative; } }

.image-text-split .left-content-position {
  float: right; }

.slider-slide {
  position: relative; }
  .slider-slide span.wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; }
  .slider-slide span.slider-content {
    margin: 0 auto;
    color: white;
    font-size: 30px; }

@media screen and (max-width: 1200px) {
  header .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .header-wrapper .navbar-logo {
      width: 150px; } }

footer div.padding-wrapper.upper-part {
  padding: 30px 0 !important; }
  footer div.padding-wrapper.upper-part a.button {
    margin-bottom: 0; }

ul.language-change-block {
  font-size: 30px;
  display: inline-flex;
  position: absolute;
  top: 40px;
  padding-bottom: 15px;
  padding-top: 10px;
  z-index: 56;
  left: 20px; }
  ul.language-change-block li {
    border-radius: 51%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin-right: 9px;
    padding: 5px; }
    ul.language-change-block li.is-active {
      background-color: white; }
      ul.language-change-block li.is-active a {
        color: black; }
    ul.language-change-block li:hover {
      border-color: white; }
    ul.language-change-block li a {
      color: white; }
  @media screen and (max-width: 1200px) {
    ul.language-change-block {
      top: 145px; } }
  @media screen and (max-width: 480px) {
    ul.language-change-block {
      top: 115px;
      left: 20px;
      justify-content: flex-start; } }

.article-paragraphs-wrapper section {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 10px 0 20px; }

@media screen and (max-width: 1200px) {
  .article-paragraphs-wrapper .paragraph--type--carousel, .article-paragraphs-wrapper .paragraph--type--contact-form {
    margin: 35px 0; } }

@media screen and (max-width: 1200px) {
  #social-header .social-list {
    position: absolute;
    right: 20px; } }
