.node--type-landing-page {
  div.first-top-overlay {
    z-index: -1;
  }

  &:last-child {
    div:first-child {
      section.paragraph {
        @media only screen and (max-width: 1200px) {
          margin-top: 0;
        };
        margin-top: -50px;
      }
    }
  }
}

.node--type-article {
  & > section {
    @media only screen and (max-width: 1200px) {
      margin-top: 0;
    };
    margin-top: -50px;
  }
}

body {
  height: auto !important;
  overflow-x: hidden;
}

section.paragraph {
  @media screen and (max-width: 768px) {
    padding: 0;
  }

  h2.paragraph-title {
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.4rem;

    .bg-red-line {
      position: absolute;
      left: -25px;
      bottom: 6.9px;
      width: 100%;
      width: -webkit-calc(100% + 38px);
      width: -moz-calc(100% + 38px);
      width: calc(100% + 38px);
      height: 1.4rem;
      background-color: #f1b7b2;
      z-index: -1;
    }
  }

  figure.images {
    z-index: 1;
  }
}
