#video {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100vh;
  transform: translate(-50%, 0);

  &.proportion {
    top: 50%;
    left: 0;
    width: 100vw;
    height: auto;
    transform: translate(0, -50%);
  }
}
