.article-paragraphs-wrapper{
  section{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 0 20px;
  }
  @media screen and (max-width: 1200px) {
    .paragraph--type--carousel, .paragraph--type--contact-form {
      margin: 35px 0;
    }
  }
}
