header {
  @media screen and (max-width: 1200px){
    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .navbar-logo{
        width: 150px;
      }
    }
  }
}

