ul.language-change-block {
  font-size: 30px;
  display: inline-flex;
  position: absolute;
  top: 40px;
  padding-bottom: 15px;
  padding-top: 10px;
  z-index: 56;

  li {
    &.is-active{
      background-color: white;
      a{
        color: black;
      }
    }
    border-radius: 51%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    &:hover{
      border-color: white;
    }
    margin-right: 9px;
    padding: 5px;

    a {
      color: white;
    }
  }
  left: 20px;
  @media screen and (max-width: 1200px) {
    top: 145px;
  }
  @media screen and (max-width: 480px) {
    top: 115px;
    left: 20px;
    justify-content: flex-start;
  }
}
