.slider-slide{
  position: relative;
  span.wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
  }
  span.slider-content{
    margin: 0 auto;
    color: white;
    font-size: 30px;
  }
}
