.image-text-split {
  .left-image-position {
    left: 0;
  }

  .containing-image-wrapper {
    @media only screen and (max-width: 768px) {
      display: block !important;
      position: relative;
    }
  }

  .left-content-position {
    float: right;
  }
}
