{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

{{ attach_library('shury/slideshow') }}

<div {{ attributes.addClass(classes).setAttribute('id', 'content') }}>
  <div class="full-width intro">
    <div class="full-height">
      <div class="fixed">
        <div id="bx-wrapper" class="bx-wrapper">
          <div class="bx-container parallax">
            {% set items = fields.media_images %}
            {% for item in items %}
              {{ drupal_image(item.uri, '4_3_full', responsive=true) }}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="full-height-wrapper white-text">
        <div class="parent">
          <div class="child">
            <section>
              <div class="container">
                <div class="animatedblock delay2 animatedUp">
                  <div class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-2 extra-padding-top">
                    <div class="banner-textblock">
                      {{ title_prefix }}
                      <h1 class="header">{{ node.field_title.value | striptags('<br><i><strong><em><sub><sup>') | raw }}</h1>
                      {{ title_suffix }}
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="overlay first-top-overlay"></div>
{#        <div id="bonappetit" class="custom-caption"></div>#}
      </div>
    </div>
  </div>

  {{ drupal_block('block_content:d29b3ba3-709d-4ad4-a9ce-ddd9d37aef5d') }}

  <section class="article-paragraphs-wrapper">
    <div class="container clearfix">
      <article class="col-md-10 col-md-offset-1">
        {{ content.field_content }}
      </article>
    </div>
  </section>

</div>
