{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
] %}

<!-- start content -->
<div {{ attributes.addClass(classes) }}>

  <div class="full-width intro">
    <div class="full-height">
      <div class="fixed">

        {% if node.field_video_file.entity.field_media_video_file.entity.uri.value is not empty %}

          {{ attach_library('shury/video') }}

          {% set mimetype = node.field_video_file.entity.field_media_video_file.entity.mimetype %}
          {% set src = file_url(node.field_video_file.entity.field_media_video_file.entity.uri.value) %}
          <video id="video" class="proportion hidden">
            <source src="{{ src }}" type="{{ mimetype }}">
          </video>

        {% endif %}

        {% if fields.media_image.uri %}
          <figure class="parallax background-image" style="background-image: url({{ file_url(fields.media_image.uri) }});">
            <div class="hidden">
              {{ drupal_image(fields.media_image.uri, '4_3_full', responsive=true) }}
            </div>
          </figure>
        {% endif %}

      </div>

      <div class="full-height-wrapper white-text">
        <div class="parent">
          <div class="child">
            <section>
              <div class="container">
                <div class="animatedblock delay2 animatedUp in-view">
                  <div
                      class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-2 extra-padding-top">
                    <div class="banner-textblock" style="top: 0px; opacity: 1;">
                      {{ title_prefix }}
                      <h1 class="header">{{ node.field_title.value | striptags('<br><i><strong><em><sub><sup>') | raw }}</h1>
                      {{ title_suffix }}
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="overlay first-top-overlay"></div>
        {#          <div id="bonappetit" class="custom-caption" style="bottom: 160px; opacity: 1;"></div>#}
      </div>

    </div>
  </div>

  {{ drupal_block('block_content:d29b3ba3-709d-4ad4-a9ce-ddd9d37aef5d') }}

  {{ content.field_content }}

</div>
<!-- end content -->
