{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block content %}
  <section {{ attributes.addClass(classes) }}>
    <div class="container clearfix">
      <div id="{{ fields.anchor }}" class="anchor"></div>
      <div class="col-md-10 col-md-offset-1">
        <div class="centered">
          <h2 class="paragraph-title">{{ fields.title }}<span class="bg-red-line"></span></h2>
        </div>
        <div class="borderline"></div>
        <div class="row">
          {{ content.field_quadruple_paragraph }}
        </div>
        <div class="borderline"></div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block catch_cache %}
  {% set catch_cache = content|render %}
{% endblock catch_cache %}
