{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container',
  'clearfix'
] %}
{% block content %}
  <div {{ attributes.addClass(classes) }} >
    <div class="col-md-10 col-md-offset-1 centered">
      <div class="borderline"></div>
      <div class="row">
        {% for paragraph_item in fields.double_paragraph %}

          {% if paragraph_item.fields.phone != NULL %}
            {% set icon = 'fa-phone' %}
          {% elseif paragraph_item.fields.link != NULL %}
            {% set icon = 'fa-map-marker' %}
          {% endif %}

          {% if (fields.double_paragraph | length) == 2 %}
            {% set adaptive_class = 'col-md-6' %}
          {% elseif (fields.double_paragraph | length) == 1 %}
            {% set adaptive_class = 'col-12' %}
          {% endif %}

          <div class={{ adaptive_class }}>
            <h3 class="header paragraph-title">{{ paragraph_item.fields.title }}</h3>
            <p><span class="padding"><i class="fa {{ icon }}"></i></span>
              {% if paragraph_item.fields.phone != NULL %}
                {{ paragraph_item.fields.phone }}
              {% elseif paragraph_item.fields.link != NULL %}
                <a href="{{ paragraph_item.fields.link.url }}">{{ paragraph_item.fields.link.title }}</a>
              {% endif %}</p>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block catch_cache %}
  {% set catch_cache = content|render %}
{% endblock catch_cache %}
