{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'clearfix',
  'col-md-6', 'col-sm-6'
] %}

{% block content %}
  <div {{ attributes.addClass(classes) }} >
    {% if fields.link.url != NULL %}
    <a href="{{ fields.link.url }}" title="">
      {% endif %}
      <div class="images teaser image-with-overlay white-text">
        {{ fields.media_image.uri ? drupal_image(fields.media_image.uri, '4_3_teaser', responsive=true) }}
        <div class="info-box covering-image">
          <div class="info-box-content">
            <div class="parent">
              <div class="top">
                <h3 class="header paragraph-title">{{ fields.title }}<span class="bg-red-line"></span></h3>
                <p class="details">{{ fields.description | raw }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
      {% if fields.link.url != NULL %}
    </a>
    {% endif %}
  </div>
{% endblock content %}

{% block catch_cache %}
  {% set catch_cache = content|render %}
{% endblock catch_cache %}
