{{ attach_library('shury/jquery-flexslider') }}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'turn-grey'
] %}

{% block content %}
  <section {{ attributes.addClass(classes) }}>
    <div class="container clearfix">
      <div id="{{ fields.anchor }}" class="ancor"></div>
      <div class="{{ middle_up_width }} {{ offset }}">
        <div class="centered">
          <h2 class="paragraph-title">{{ fields.title }}<span class="bg-red-line"></span></h2>
        </div>
      </div>
    </div>

    <div class="container clearfix">
      <div class="col-md-10 col-md-offset-1">
        <div class="flexslider slideshow">
          <ul class="slides">
            {% for item in fields.paragraph_items %}
              <li class="slider-slide">
                {% if item.fields.link.url %}
                <a href={{ item.fields.link.url }}>
                  {% endif %}
                  {% if item.fields.media_image.uri %}
                    {{ drupal_image(item.fields.media_image.uri, '4_3_teaser', responsive=true) }}
                  {% endif %}
                  {% if item.fields.plain_text %}
                    <span class="wrapper">
                  <span class="slider-content text-center">
                    {{ item.fields.plain_text }}
                  </span>
                </span>
                  {% endif %}
                  {% if item.fields.link.url %}
                </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block catch_cache %}
  {% set catch_cache = content|render %}
{% endblock catch_cache %}
