{{ attach_library('shury/input-fields') }}
{{ attach_library('shury/contact') }}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block content %}
  <section {{ attributes.addClass(classes) }}>
    <div class="container clearfix">
      <div id="{{ fields.anchor }}" class="anchor"></div>
      <div class="{{ middle_up_width }} {{ offset }}">
        <div class="centered">
          <h2 class="paragraph-title">{{ fields.title }}<span class="bg-red-line"></span></h2>
        </div>
      </div>
    </div>
    <div class="container clearfix">
      <div class="{{ middle_up_width }} {{ offset }} centered">
        {{ content.field_form }}
      </div>
    </div>
    {{ content.field_paragraph_items }}
  </section>
{% endblock content %}

{% block catch_cache %}
  {% set catch_cache = content|render %}
{% endblock catch_cache %}
