{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'image-text-split'
] %}

{% if fields.position == 'left' %}
  {% set left_content_position = 'left-content-position' %}
  {% set left_image_position = 'left-image-position' %}
{% endif %}

{% block content %}

  <section{{ attributes.addClass(classes) }}>
    <div class="container clearfix">
      <div id="{{ fields.anchor }}" class="anchor"></div>
      <div class="{{ middle_up_width }} {{ offset }} col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-12 extra-padding-right extra-padding-top {{ left_content_position }}">
            <h2 class="paragraph-title">{{ fields.title }}<span class="bg-red-line"></span></h2>
            <p>{{ fields.description | raw }}</p>
          </div>
          <div class="clearfix col-sm-6 col-xs-12 containing-image-wrapper {{ left_image_position }}">
            <div class="full-height-wrapper">
              <figure class="images">
                {{ fields.media_image.uri ? drupal_image(fields.media_image.uri, '1_1_teaser', responsive=true) }}
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block catch_cache %}
  {% set catch_cache = content|render %}
{% endblock catch_cache %}
