{% if fields %}
  <footer id="footer">
    <div class="padding-wrapper upper-part white-text">
      <div class="container clearfix">
        <div class="col-lg-12 centered">
          <h3>{{ fields.title }}</h3>
          {{ fields.description|raw }}
          {% for social in fields.socials %}
              <a href="{{ social.url }}"
                 title="{{ social.attributes.title }}"
                 class="button">
                <i class="fa {{ social.attributes.class }}"></i>
                <span class="hidden-xs">{{ social.title }}</span>
              </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="padding-wrapper lower-part">
      <div class="container clearfix">
        <div class="col-lg-12 centered">
          <p>
            {{ fields.copyright|striptags }}
            {% set items = fields.menu %}
            {% for item in items %}
              <span class="lighter">&#183;</span>
              <a href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
          </p>
          {% if fields.hide_created_by == false %}
            <p>Made with <i class="fa fa-heart"></i> by <a
                target="_blank"
                href="http://i4w.co/"
                data-title="Drupal Websites development">iTech4Web</a>.
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>
{% endif %}
